.films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 15px;
  margin: 0 auto;
  width: 1000px;
  justify-content: space-between;
  
}
.wrapper-film {
  display: flex;
  width: 50%;

}
.film-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.overview {

}